@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.logout-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.logout-link:hover {
    color: darkblue;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/anime-girls-angel-wings-4k-wallpaper-uhdpaper.com-187@0@k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #181818;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}

.navigation a:hover {
    color: #ff0000;
}

.top-right-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
body h1{
    color: #f5efef;
}